.image-view {
  width: 20em;
  height: 20em;
  display: flex;
  justify-content: center; /* horizontal */
  align-items: center; /* vertical */
  background-color: #747d8c;
  color: white;
  border-radius: 10px;
}

.drag-over {
  background-color: #4cd137;
}

.uploader {
  cursor: pointer;
}

.uploader-col {
  text-align: center;
}

#drop-region > h2 {
  /* z-index: -1; */
  pointer-events: none;
}

#file-input {
  display: none;
}

.col {
  display: flex;
  justify-content: center; /* horizontal */
  align-items: center; /* vertical */
}
